<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index EJS</title>
  </head>
  <body style="display: flex; justify-content: center; align-items: center;" >
    <div style="width: 500px;" >
      <h1>DELIVERED BY EJS ON A NODE APP...</h1>
      <h2>INDEX</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        eveniet, iste at soluta iusto pariatur odit neque repellat impedit
        perspiciatis ipsum recusandae ab reprehenderit provident? Fugit
        praesentium debitis amet laborum?
      </p>

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        eveniet, iste at soluta iusto pariatur odit neque repellat impedit
        perspiciatis ipsum recusandae ab reprehenderit provident? Fugit
        praesentium debitis amet laborum?
      </p>

      <hr>
      <div style="margin-top: 100px;" >
        <p>
          <a href="/home">Go to Home</a>
        </p>
      </div>
    </div>
  </body>
</html>
