<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERS EJS</title>
</head>
<body style="display: flex; justify-content: center; align-items: center;" >
    <div style="width: 500px;" >
      <h1>YOU ARE NOW IN USERS PAGE</h1>
        <h2>USERS</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        eveniet, iste at soluta iusto pariatur odit neque repellat impedit
        perspiciatis ipsum recusandae ab reprehenderit provident? Fugit
        praesentium debitis amet laborum?
      </p>
      <!--  <%= %> This tag is used to show variable values    -->
      <p>
        Nome: <%= nome%> <%= sobrenome%>
      </p>
      <div>
        Cargo: <%= cargo%>
      </p>
      <div>
        Error message:
        <% if(showErrorMessage){%>
          <h3>Erro!</h3>
        <%}else{%>
          <h3>Não há erros!</h3>
        <%}%>
      </div>
      <hr>
      <div style="margin-top: 100px;" >
        <p>
            <a href="/">Back To Index</a>
        </p>
        <p>
            <a href="/home">Back To Home</a>
        </p>
      </div>
    </div>
  </body>
</html>